@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round';
    text-decoration: none;
    scroll-behavior: smooth;
    background: black;
    color: white;
}

#introduction {
    text-align: center;
    margin-bottom: 60px;
}

#introduction h1 {
    font-size: 5vw;
    margin: 60px 0px 30px 0px;
}

.article {
    display: flex;
    align-self: center;
    margin: 50px auto;
    width: 50%;
    border: 2px white solid;
    border-radius: 20px;

    overflow: hidden;
}

.article div .title {
    margin: 20px 10px 10px 20px;
    color: rgb(89, 89, 220);
}

.article img {
    border: 2px white solid;
    border-radius: 9px;
    margin: 10px;
    height: 150px;
}

.article div .brief {
    margin: 20px;
}

.article div .credits {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.article div .credits .author {
    color: cyan;
}